{% extends "base.html" %} {% block content %}
<div class="card mb-4">
  <div class="card-body">
    <form method="post" action="{% url 'for' %}">
      {% csrf_token %}
      <div class="mb-3">
        <label for="numberInput" class="form-label">ป้อนตัวเลขที่ต้องการ</label>
        <input type="number" class="form-control" id="count" name="count" />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
  </div>
  </form>
</div>

<div class="card">
  <div class="card-header">
    <h2 class="mb-0">{{ message }}</h2>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          {% for i in count %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  {% endblock content %}
</div>