{% extends "base.html" %} {% load static %} {% block title %}รายวิชา - WARANYA
webapp{% endblock %} {% block content %}
<div class="container">
  <div class="card mb-4 p-4 text-center shadow hero-section">
    <div
      class="d-flex justify-content-center align-items-center mb-3"
      style="min-height: 10px"
    ></div>
    <h2
      class="hero-title mb-2"
      style="
        font-size: 3rem;
        font-weight: 700;
        background: linear-gradient(135deg, var(--pink), var(--pink-lighter));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      "
    >
      <i class="bi bi-journal-bookmark-fill"></i> รายวิชา
    </h2>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">รหัสวิชา</th>
        <th scope="col">ชื่อวิชา</th>
        <th scope="col">ชื่ออาจารย์</th>
      </tr>
    </thead>
    <tbody>
      {% for subject in subjects %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ subject.sjid }}</td>
        <td>{{ subject.subjects_name }}</td>
        <td>{{ subject.teacher_name }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}